on:
  push:
    branches:
      - main

jobs:
  build:
    name: BUILD
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4
      - name: Docker Login
        uses: docker/login-action@v3.6.0
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Construye Imagen
        run: |
          echo "Building Docker image..."
          docker build -t hoverdev/cu-ms-invoices:${{ github.run_number }} .
      - name: Pushea Imagen
        run: |
          echo "Pushing Docker image..."
          docker push hoverdev/cu-ms-invoices:${{ github.run_number }}

  deploy:
    name: DEPLOY
    runs-on: ubuntu-22.04
    needs: build
    steps:
      - uses: actions/checkout@v4

      - name: Install OpenShift CLI
        uses: redhat-actions/oc-installer@v1
        with:
          oc_version: "4.5"

      - name: Login to OpenShift
        run: |
          oc login --token=${{ secrets.OPENSHIFT_TOKEN }} --server=${{ secrets.OPENSHIFT_SERVER }}

      - name: Deploy with Helm
        run: |
          helm upgrade --install cu-ms-payments \
            oci://registry-1.docker.io/hoverdev/helm-microservice-chart \
            --version 1.0.9 \
            -f values.yaml \
            --set imageTag=${{ github.run_number }} \
            --namespace hoverdev-dev
    
      - name: Apply NetworkPolicy
        run: |
          echo "Applying NetworkPolicy allow-invoices-to-payments..."
          oc apply -f networkpolicy.yaml